---
name: update-package

on:
  pull_request:
    types:
      - opened
      - synchronize
      - reopened
      - closed
  push:
    branches:
      - main

jobs:
  # npm installを実行し、package.jsonやpackage-lock.jsonに差分があればPRを作る
  update-package:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      pull-requests: write
    steps:
      - uses: actions/checkout@v3.1.0
        with:
          fetch-depth: 0
          ref: ${{ github.event.pull_request.head.sha }}
      - uses: actions/setup-node@v3.5.1
        with:
          cache: npm
      - run: ./scripts/update_package/npm_install.sh
      - uses: ./
        with:
          github-token: ${{secrets.GITHUB_TOKEN}}
          branch-name-prefix: fix-package
          pr-title-prefix: package.json, package-lock.json修正
          pr-description-prefix: package.jsonやpackage-lock.jsonを修正しました。
          repo-name: ${{ github.event.pull_request.head.repo.full_name }}
