---
name: update-package

on:
  pull_request:
    types:
      - opened
      - synchronize
      - reopened
      - closed
  push:
    branches:
      - main

jobs:
  # npm installを実行し、package.jsonやpackage-lock.jsonに差分があればPRを作る
  update-package:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      pull-requests: write
    steps:
      - uses: actions/checkout@v3.5.2
        with:
          fetch-depth: 0
          ref: ${{ github.event.pull_request.head.sha || github.sha }}
      - uses: actions/setup-node@v3.6.0
        if: github.event_name != 'pull_request' || github.event.action != 'closed'
        with:
          cache: npm
      - if: github.event_name != 'pull_request' || github.event.action != 'closed'
        run: npm install
      - uses: ./
        with:
          github-token: ${{secrets.GITHUB_TOKEN}}
          branch-name-prefix: fix-package
          pr-title-prefix: package.json, package-lock.json修正
          pr-description-prefix: package.jsonやpackage-lock.jsonを修正しました。

concurrency:
  group: ${{ github.workflow }}-${{ github.event_name }}-${{ github.ref }}
  cancel-in-progress: true
