---
name: update-readme

on:
  pull_request:
    types:
      - opened
      - synchronize
      - reopened
      - closed
  push:
    branches:
      - main

jobs:
  update-readme:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      pull-requests: write
    steps:
      - uses: actions/checkout@v3.1.0
        with:
          fetch-depth: 0
          ref: ${{ github.event.pull_request.head.sha }}
      - uses: actions/setup-node@v3.5.1
        with:
          cache: npm
      - run: ./scripts/npm_ci.sh
      - run: ./scripts/update_readme/set_description.sh
      - name: Get inputs markdown
        id: get_inputs_markdown
        uses: actions/github-script@v6.3.3
        env:
          HEAD_REF: ${{github.event.pull_request.head.ref}}
        with:
          github-token: ${{secrets.GITHUB_TOKEN}}
          result-encoding: string
          script: |
            const script = require('./scripts/update_readme/get_inputs_markdown.js')
            return script()
      - env:
          DESCRIPTION: ${{env.DESCRIPTION}}
          INPUTS: ${{steps.get_inputs_markdown.outputs.result}}
        run: ./scripts/update_readme/create_readme.sh
      - uses: ./
        with:
          github-token: ${{secrets.GITHUB_TOKEN}}
          branch-name-prefix: fix-readme
          pr-title-prefix: README修正
          pr-description-prefix: READMEを修正しました。
          repo-name: ${{ github.event.pull_request.head.repo.full_name }}
